main {
  margin: 50px;
}

table {
  table-layout: fixed;
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  border: 2px solid black;
  word-wrap: break-word;
}
